/* Place your CSS styles in this file */

body {background-color: rgb(254, 250, 224);
background-size: cover;


}

img {
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1 {
    text-align: center;
    margin: 0 auto;
    font-family: monospace;
    font-weight: bold;
    color: chocolate;
}

marquee {color: pink;
}


p {
   position: center;
   margin-left: auto;
   margin-right: auto;
   max-width: 650px;
   font-style: oblique;
   color: rgb(58, 5, 25);


}



 li {display:inline;
color: rgb(255, 221, 227);padding: 15px;
background-color: rgb(244, 138, 154);
opacity: 2;
transition: opacity 0.5s;
margin-bottom: 15px;
border-radius: 50px;
}

nav {
display: flex;
background-color: pink;
justify-content: space-between;
padding: 1rem 2rem;
}

nav ul {
display: flex;
gap: 2rem;
list-style-type: none;
align-items: center;
}







