/* Place your CSS styles in this file */

body {background-color: beige;
background-size: cover;



}

h1 {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: chocolate;
}
marquee { color: chocolate;
}


p {
   text-align: center;
   font-style: oblique;
   color: black;
}

h4 {
    text-align: center;
    color: hot pink;
}


br {
    text-align: center;
}

ul {list-style-type: none;

}

li {display:inline;
color: rgb(255, 221, 227);padding: 15px;
background-color: rgb(244, 138, 154);
opacity: 2;
transition: opacity 0.5s;
margin-bottom: 15px;
border-radius: 50px;
}

nav {
display: flex;
background-color: pink;
justify-content: space-between;
padding: 1rem 2rem;
}

nav ul {
display: flex;
gap: 2rem;
list-style-type: none;
align-items: center;
}







